body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, Sans-Serif;
    float: left;
}
img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid white;
}
}
